h1 {
  color: greenyellow;
}

h2 {
  color: goldenrod;
}

p {
  font-size: 32px;
}

.main {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding-bottom: 50px;
}

.best {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  color: red
}

.flashy {
  color: red;
  font-style: italic;
}
